---
http_interactions:
- request:
    method: get
    uri: https://ergast.com/api/f1/drivers.json?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/drivers.json","limit":"1","offset":"0","total":"848","DriverTable":{"Drivers":[{"driverId":"abate","url":"http:\/\/en.wikipedia.org\/wiki\/Carlo_Mario_Abate","givenName":"Carlo","familyName":"Abate","dateOfBirth":"1932-07-10","nationality":"Italian"}]}}}'
  recorded_at: Fri, 08 May 2020 12:42:30 GMT
- request:
    method: get
    uri: https://ergast.com/api/f1/drivrs.json?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html>\r\n  <head>\r\n    <title>Error</title>\r\n  </head>\r\n  <body>\r\n
        \   <h3>Bad Request</h3>\r\n  </body>\r\n</html>\r\n"
  recorded_at: Fri, 08 May 2020 12:56:27 GMT
[...]
- request:
    method: get
    uri: https://ergast.com/api/f1/drivers.json?limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 100
      message: Problem
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: 'Problem'
  recorded_at: Fri, 08 May 2020 13:22:51 GMT
recorded_with: VCR 5.1.0
